/* Graph.CSS */

body{
	padding: 100px 50px;
	padding-left: 350px;
}

.chart{

	/* Appearance */
	background-image: url('../img/grid.png');
	background-color: #FFF;
	border: 1px solid #AAA;
	border-radius: 3px;
	box-shadow: inset 0 0 5px #CCC;
	/* Shape Properties */
	height: 175px;
	margin-bottom: 50px;
	
	/* Scrolling Properties */
	overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

}

svg{
	height: 150px;
	-webkit-transition: all .1s;
}